/*forgot-password.html styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #1f2937;
}

/* styles general to all forms */
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-1, .form-2, .form-3 {
    transition: opacity 0.3s ease;
    z-index: 10;
}

/*form title styles*/
#form-title{
    align-self: center;
    font-size: 2rem;
    margin: 0 0 15px 0;
    font-weight: 600;
}

/* input label styles*/
label{
    font-weight: 500;
    margin: 10px 0 0 0;
}

/*form input styles*/
form input{
    height: 50px;
    border: 1.25px solid #1f2937;
    border-radius: 15px;
    padding: 0 0 0 15px;
}
form input:focus{
    outline: none;
}

/* one time password input styles*/
#otp-inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    /* align-items: center; */
}
.otp-entry{
    width: 50px;
    text-align: center;
    padding: 0 15px;
}

/* styles for the incorrect otp message */
#incorrect-img{
    width: 18px;
    height: 18px;
    color: red;
}

#continue-button-1, #continue-button-2, #continue-button-3{
    margin: 30px 0 0 0;
    background-color: #0064E0;
    color: #ffffff;
    font-size: 1rem;
    height: 40px;
    border-radius: 20px;
    border: none;
}

#incorrect{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    color: red;}

#incorrect.hidden{
    display:none;
}

#continue-button-2.filled{
    background-color: #0064E0;
    cursor: pointer;
} */

#continue-button-1:hover, #continue-button-2:hover, #continue-button-3:hover{
    background-color: rgb(225,0 0);
}


/*--------------------password container-------------------------------*/
/* Hide Edge/IE password reveal button */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Hide Chrome/Edge autofill icons (some versions) */
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
    visibility: hidden;
    pointer-events: none;
}

.password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 320px;
    height: 53px;
    border: 1.25px solid #1f2937;
    border-radius: 15px;
}

.password-container input {
    width: 85%;
    font-size: 16px;
    border: none;
    height: 50px;
    border-radius: 15px;
    padding: 0 0 0 15px;
}

.password-container button {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}






/* ------------for the blury effect of the pop up after form-1-------- */
.form-1-correct-action .modal button{
    margin: 15px 0;
    background-color: #0064E0;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 50px;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}


.modal {
    background: white;
    padding: 20px;
    border-radius: 40px;
    width: 350px;
    height: auto;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);

    transform: scale(0.9);
    opacity: 0;
    transition: all 0.3s ease;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay.show .modal {
    transform: scale(1);
    opacity: 1;
}

/*------------For all hidden forms-------------------*/
.hidden {
    display: none;
}



/*--------------footer--------------------*/
.separator{
    border: 0.5px solid #1f2937;
    position: fixed;
    bottom: 50px;
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: white;
    width: 100vw;
}